{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  {{ content | expand_urls: root_url }}
  <style type="text/css">
    body {margin: 0 auto!important;}
    .lost_child_box {margin-bottom: 0!important;}
    .info {padding: 10px!important;}
  </style>
</body>
</html>
