
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>[AngularJS系列(5-1)] Directive - 开场小介绍 - Hello Bug~</title>
  <meta name="author" content="hellobug">

  
  <meta name="description" content="Directive其实就是让html变得更强大的一种方法。它可以根据需求对dom变形，或注入行为。 觉得它很神秘么，其实一点儿也不神秘，只要开始使用AngularJS了，就一定在使用着Directive，比如我们在html上写的那些ng-controller，ng-model，ng- &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://hellobug.github.com/blog/angularjs-directive-1-basic-introduction">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="Hello Bug~" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35681483-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Hello Bug~</a></h1>
<!--   
    <h2>~ 角落里总有那么一只小bug，正过着幸福悠哉滴小日子 ~</h2>
   -->
</hgroup>

</header>
  <!-- <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:hellobug.github.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav> -->
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">[AngularJS系列(5-1)] Directive - 开场小介绍</h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-08-04T22:35:00+08:00" pubdate data-updated="true">Aug 4<span>th</span>, 2013</time>
        
         | <a href="#disqus_thread">Comments</a>
        
      </p>
    
  </header>


<div class="entry-content"><p>Directive其实就是让html变得更强大的一种方法。它可以根据需求对dom变形，或注入行为。</p>

<p>觉得它很神秘么，其实一点儿也不神秘，只要开始使用AngularJS了，就一定在使用着Directive，比如我们在html上写的那些<code>ng-controller</code>，<code>ng-model</code>，<code>ng-show</code>等等都是AngularJS提供的Directive啊~</p>

<p>那到底内部是怎么实现的呢？或者如果觉得AngularJS内置提供的Directive不给力咋办？现在咱们就自己做一个试试看吧~</p>

<!-- more -->


<p><img src="/my-images/angularjs-directive-1-address-inputs.png"></p>

<p>先来个比较简单的需求，假如我们的应用经常要用到地址信息的输入选项，如果不自定义directive，html要写成这样~</p>

<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;address&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      国家:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;country&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      城市:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;city&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      街道详情:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;address&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      邮编:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;zipcode&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'><span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>这样的代码可能要写多次，给维护也添加了复杂度。
如果自定义个地址的directive，代码如下：</p>

<figure class='code'><figcaption><span>之前的html </span></figcaption>
 <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">my-address</span><span class="nt">&gt;</span> <span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>




<figure class='code'><figcaption><span>抽出来的html模板，名称为address.html </span></figcaption>
 <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;address&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      国家:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;country&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      城市:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;city&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      街道详情:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;address&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'>  <span class="nt">&lt;label&gt;</span>
</span><span class='line'>      邮编:<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;zipcode&quot;</span> <span class="nt">/&gt;</span>
</span><span class='line'>  <span class="nt">&lt;/label&gt;</span>
</span><span class='line'><span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>




<figure class='code'><figcaption><span>directive的定义 </span></figcaption>
 <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class='js'><span class='line'><span class="nx">app</span><span class="p">.</span><span class="nx">directive</span><span class="p">(</span><span class="s2">&quot;myAddress&quot;</span><span class="p">,</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
</span><span class='line'>  <span class="k">return</span> <span class="p">{</span>
</span><span class='line'>    <span class="nx">restrict</span><span class="o">:</span> <span class="s2">&quot;A&quot;</span><span class="p">,</span>
</span><span class='line'>    <span class="nx">templateUrl</span><span class="o">:</span> <span class="s2">&quot;address.html&quot;</span><span class="p">,</span>
</span><span class='line'>    <span class="nx">replace</span><span class="o">:</span> <span class="kc">true</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'><span class="p">})</span>
</span></code></pre></td></tr></table></div></figure>


<h2>命名</h2>

<p>可能有人注意到了，在html里标签上定义的属性叫<code>my-address</code>，可是在js里定义directive时写的名字是<code>myAddress</code>，这能对应上么？</p>

<p>其实是可以的，不仅如此，下列格式都可以识别出来~</p>

<ul>
<li>my:address</li>
<li>my-address (推荐)</li>
<li>my_address</li>
<li>x-my-address</li>
<li>data-my-address</li>
</ul>


<p>但是由于html不区分大小写和标准写法是用中横线<code>-</code>的特性，比较推荐<code>my-address</code>这种写法，既简洁又遵循html的规则。</p>

<h2>声明形式限制</h2>

<p><code>restrict: "A"</code> 这一句表示对directive声明形式的限制，一共有四种：</p>

<ul>
<li><code>E</code>: <code>&lt;my-address&gt;&lt;/my-address&gt;</code> Element Name 标签名</li>
<li><code>A</code>: <code>&lt;div my-address="exp"&gt;&lt;/div&gt;</code> Attribute 属性名（默认值）</li>
<li><code>C</code>: <code>&lt;div class="my-address: exp;"&gt;&lt;/div&gt;</code> Class 类名</li>
<li><code>M</code>: <code>&lt;!-- directive: my-address exp --&gt;</code> Comment 注释</li>
</ul>


<p>其实不写也可以，因为如果不写，默认就是<code>restrict: "A"</code></p>

<p>如果想支持多项，可以写成<code>restrict: "EA"</code>，这样就又支持标签的写法，又支持属性的写法</p>

<p>虽然一共有四种可以选择，但后两种并不推荐~</p>

<ul>
<li>类应该更多的是与样式相关，而且将directive名混杂在一群类名里，可读性也不好</li>
<li>注释就更不可靠了，将重要的逻辑写在注释里，太容易被忽略了</li>
</ul>


<h2>Html内容模板指定</h2>

<p><code>templateUrl: "address.html"</code>指定了模板的Url路径，如果想直接写html内容也可以用：<br/>
<code>template: "&lt;div class='address'&gt;blabla&lt;/div&gt;"</code></p>

<p>下面的<code>replace: true</code>表示模板html内容是否会替换<code>&lt;div my-address&gt;&lt;/div&gt;</code>，还是插入到<code>&lt;div my-address&gt;&lt;/div&gt;</code>元素里，默认是<code>false</code></p>

<h2>最后</h2>

<p>这样一个简单的directive就写好了，其实如果只是想抽html模板的话，还可以用<code>ng-include</code>，相当上上面例子里<code>replace:false</code>的效果~</p>

<figure class='code'><figcaption><span>使用ng-include的版本 </span></figcaption>
 <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'>//注意这里是单引号套着双引号，外面一层引号是表示标签属性的值，里面一层引号表示直接给的模板名称，因为这里也可以通过表达式的返回值来取
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-include=</span><span class="s">&#39;&quot;address.html&quot;&#39;</span><span class="nt">&gt;</span> <span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>貌似更简单。。。那前面说那么多干嘛？！<br/>
这不是为了熟悉directive嘛~ -_-|||</p>

<p>想自己动手试试，就猛戳<a href="http://plnkr.co/edit/ZgRpLtlRPsGWL14m7J3p">这里</a>吧~</p>

<p>其实directive的世界搭滴恨(小纪念一下在西安悠哉的小日子)，下集待续。。。</p>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">hellobug</span></span>

      








  


<time datetime="2013-08-04T22:35:00+08:00" pubdate data-updated="true">Aug 4<span>th</span>, 2013</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/angularjs/'>angularjs</a>, <a class='category' href='/blog/categories/javascript/'>javascript</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/angularjs-providers/" title="Previous Post: [AngularJS系列(4)] 那伤不起的provider们啊~ (provider, value, constant, service, factory, decorator)">&laquo; [AngularJS系列(4)] 那伤不起的provider们啊~ (provider, value, constant, service, factory, decorator)</a>
      
      
    </p>
  </footer>
</article>

  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>

</div>

<aside class="sidebar">
  
    <section>
  <ul id="recent_posts">
      <li class="post">
      <a href="http://hellobug.github.com" title="Home" alt="Home"><img src="/images/Home.png"></a>
      <a href="http://hellobug.github.com/archives/" title="Archives" alt="Archives"><img src="/images/Calendar.png"></a>
      <a href="mailto:joy.xczhang+hellobug@gmail.com" title="Email" alt="E-Mail"><img src="/images/Envelope.png"></a>
      <a href="http://hellobug.github.com/atom.xml" title="Subscribe feed" alt="subscribe feed"><img src="/images/rss_big.png"></a>
      </li>
  </ul>
</section>
<section>
  <h1>About me</h1>
  <p>Just a bug.</p>
</section>
<section>
	<h1>Categories</h1>
	<p>
	
		<a href="/blog/categories/blog">blog</a>&nbsp;
	
		<a href="/blog/categories/github">github</a>&nbsp;
	
		<a href="/blog/categories/octopress">octopress</a>&nbsp;
	
		<a href="/blog/categories/powershell">powershell</a>&nbsp;
	
		<a href="/blog/categories/javascript">javascript</a>&nbsp;
	
		<a href="/blog/categories/angularjs">angularjs</a>&nbsp;
	
	</p>
</section><section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/angularjs-directive-1-basic-introduction/">[AngularJS系列(5-1)] Directive - 开场小介绍</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-providers/">[AngularJS系列(4)] 那伤不起的provider们啊~ (provider, value, constant, service, factory, decorator)</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-two-ways-binding/">[AngularJS系列(3)] View-Model双向绑定背后的故事~</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-scope/">[AngularJS系列(2)] Scope什么的~</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-introduction/">[AngularJS系列(1)] 感受篇~</a>
      </li>
    
      <li class="post">
        <a href="/blog/javascript-variable-assignment/">[JS] 让人犯晕的Javascript变量赋值</a>
      </li>
    
      <li class="post">
        <a href="/blog/powershell-quotes-rule/">Powershell里的单引号君和双引号君</a>
      </li>
    
      <li class="post">
        <a href="/blog/github-pages-and-octopress-blog-setup/">[Github Pages + Octopress 搭建篇] - Geek般的写博客呦~</a>
      </li>
    
  </ul>
</section>






  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2013 - hellobug -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'joyzhang';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://hellobug.github.com/blog/angularjs-directive-1-basic-introduction/';
        var disqus_url = 'http://hellobug.github.com/blog/angularjs-directive-1-basic-introduction/';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>











</body>
</html>
