
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>[AngularJS系列(2)] Scope什么的~ - Hello Bug~</title>
  <meta name="author" content="hellobug">

  
  <meta name="description" content="Scope是AngularJS里的一个很重要的概念，简单的说它就是用来保存AngularJS Model们的对象，是Model们温暖的小家～ 那这个小家是什么时候造的呢？ 1
2
&lt;html ng-app=&quot;mainApp&quot;&gt;
&lt;/html&gt; 我们知道， &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://hellobug.github.com/blog/angularjs-scope">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="Hello Bug~" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35681483-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Hello Bug~</a></h1>
<!--   
    <h2>~ 角落里总有那么一只小bug，正过着幸福悠哉滴小日子 ~</h2>
   -->
</hgroup>

</header>
  <!-- <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:hellobug.github.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav> -->
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">[AngularJS系列(2)] Scope什么的~</h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-03-15T20:47:00+08:00" pubdate data-updated="true">Mar 15<span>th</span>, 2013</time>
        
         | <a href="#disqus_thread">Comments</a>
        
      </p>
    
  </header>


<div class="entry-content"><p>Scope是AngularJS里的一个很重要的概念，简单的说它就是用来保存AngularJS Model们的对象，是Model们温暖的小家～</p>

<p>那这个小家是什么时候造的呢？</p>

<!-- more -->




<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;html</span> <span class="na">ng-app=</span><span class="s">&quot;mainApp&quot;</span><span class="nt">&gt;</span>
</span><span class='line'><span class="nt">&lt;/html&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>我们知道，<code>ng-app</code>是一个应用启动AngularJS的入口点，在这里也会创建一个root scope，在controller里可以通过<code>$rootScope</code>调到，每个应用只能有一个root scope（当然了～root嘛～），但它会有多个child scope，那啥时候会创建child scope呢？</p>

<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;html</span> <span class="na">ng-app=</span><span class="s">&quot;mainApp&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>    <span class="nt">&lt;body</span> <span class="na">ng-controller=</span><span class="s">&quot;MainCtrl&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>        <span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">&quot;SubCtrl&quot;</span> <span class="na">ng-include</span> <span class="na">src=</span><span class="s">&quot; &#39;template.html&#39; &quot;</span><span class="nt">&gt;</span>
</span><span class='line'>        <span class="nt">&lt;/div&gt;</span>
</span><span class='line'>        <span class="nt">&lt;ul&gt;</span>
</span><span class='line'>            <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">&quot;item in items&quot;</span><span class="nt">&gt;</span>{{item.name}}<span class="nt">&lt;/li&gt;</span>
</span><span class='line'>        <span class="nt">&lt;/ul&gt;</span>
</span><span class='line'>    <span class="nt">&lt;/body&gt;</span>
</span><span class='line'><span class="nt">&lt;/html&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>在上面的例子里，<code>ng-controller</code> <code>ng-include</code> <code>ng-repeat</code>都创建了新的child scope（<code>ng-repeat</code>是对每一个重复的元素都创建了新的child scope），他们之间的父子关系是这样的：</p>

<p><img src="/my-images/angularjs-scope-1-1.png"></p>

<p>包含关系即是他们的父子关系，子scope是可以访问父scope上绑定的所有model和function的。</p>

<p>AngularJS会给scope对应的dom添加叫ng-scope的class，如果我们给自己的应用加这样一个css~</p>

<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='css'><span class='line'><span class="nc">.ng-scope</span> <span class="p">{</span><span class="k">border</span><span class="o">:</span> <span class="m">2px</span> <span class="k">dotted</span> <span class="nb">red</span><span class="p">;}</span>
</span></code></pre></td></tr></table></div></figure>


<p>通过红色的虚线边框我们也可以看出来大概scope的范围，但注意，并不是所有的ng-scope都是新的scope，有些ng-scope类名对应的dom共享的是同一个scope。</p>

<p>细心的童鞋可能注意到，<code>ng-controller="SubCtrl"</code>和<code>ng-include</code>放在同一个div上了，为啥<code>ng-controller="SubCtrl"</code>就是爸爸，<code>ng-include</code>就是儿子呢？ <br/>
这个没啥特别的原因，<code>ng-controller</code>在AngularJS底层代码里实现的比较靠前而已，与在div上标明的顺序无关，但是这时会发生一个问题：</p>

<p>假如在<code>ng-include</code>对应的<code>template.html</code>里有这样的代码：</p>

<figure class='code'><figcaption><span>template.html </span></figcaption>
 <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;lastName&quot;</span> <span class="nt">&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>我们会发现，在<code>ng-controller="SubCtrl"</code>这个controller里是取不到<code>lastName</code>的值的。</p>

<p>原因是这样的~ <br/>
我们假设<code>ng-controller="SubCtrl"</code>对应的是<strong>Scope A</strong>，<code>ng-include</code>对应的是<strong>Scope B</strong>~</p>

<ol>
<li><code>ng-include</code>创建的<strong>Scope B</strong>是<code>ng-controller</code>创建的<strong>Scope A</strong>的子scope，所以在<code>template.html</code>里可以访问<strong>Scope A</strong>的model和function。</li>
<li>在<code>template.html</code>里用<code>ng-model</code>绑定的model，是存放在<strong>Scope B</strong>上的，<strong>Scope A</strong>是拿不到的，即使model同名。</li>
</ol>


<p>解决方案：</p>

<ul>
<li>直接对<strong>Scope A</strong>的model绑定成员对象，如<code>ng-model="user.lastName"</code></li>
<li>或在<code>template.html</code>使用<code>ng-model</code>绑定model时，加上<code>$parent</code>（取父scope），如：<code>ng-model="$parent.lastName"</code>，这样info就绑定在<strong>Scope A</strong>上了</li>
</ul>


<p>比较推荐第一种方式，因为第一种抽象出了对象，比起第二种所有的model都直接绑在$scope上来，封装的更好~</p>

<p><a href="http://docs.angularjs.org/guide/scope">这里是官方Scope介绍~</a></p>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">hellobug</span></span>

      








  


<time datetime="2013-03-15T20:47:00+08:00" pubdate data-updated="true">Mar 15<span>th</span>, 2013</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/angularjs/'>angularjs</a>, <a class='category' href='/blog/categories/javascript/'>javascript</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/angularjs-introduction/" title="Previous Post: [AngularJS系列(1)] 感受篇~">&laquo; [AngularJS系列(1)] 感受篇~</a>
      
      
        <a class="basic-alignment right" href="/blog/angularjs-two-ways-binding/" title="Next Post: [AngularJS系列(3)] View-Model双向绑定背后的故事~">[AngularJS系列(3)] View-Model双向绑定背后的故事~ &raquo;</a>
      
    </p>
  </footer>
</article>

  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>

</div>

<aside class="sidebar">
  
    <section>
  <ul id="recent_posts">
      <li class="post">
      <a href="http://hellobug.github.com" title="Home" alt="Home"><img src="/images/Home.png"></a>
      <a href="http://hellobug.github.com/archives/" title="Archives" alt="Archives"><img src="/images/Calendar.png"></a>
      <a href="mailto:joy.xczhang+hellobug@gmail.com" title="Email" alt="E-Mail"><img src="/images/Envelope.png"></a>
      <a href="http://hellobug.github.com/atom.xml" title="Subscribe feed" alt="subscribe feed"><img src="/images/rss_big.png"></a>
      </li>
  </ul>
</section>
<section>
  <h1>About me</h1>
  <p>Just a bug.</p>
</section>
<section>
	<h1>Categories</h1>
	<p>
	
		<a href="/blog/categories/blog">blog</a>&nbsp;
	
		<a href="/blog/categories/github">github</a>&nbsp;
	
		<a href="/blog/categories/octopress">octopress</a>&nbsp;
	
		<a href="/blog/categories/powershell">powershell</a>&nbsp;
	
		<a href="/blog/categories/javascript">javascript</a>&nbsp;
	
		<a href="/blog/categories/angularjs">angularjs</a>&nbsp;
	
	</p>
</section><section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/angularjs-directive-2-compile-vs-link/">[AngularJS系列(5-2)] Directive - Compile vs. Link</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-directive-1-basic-introduction/">[AngularJS系列(5-1)] Directive - 开场小介绍</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-providers/">[AngularJS系列(4)] 那伤不起的provider们啊~ (provider, value, constant, service, factory, decorator)</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-two-ways-binding/">[AngularJS系列(3)] View-Model双向绑定背后的故事~</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-scope/">[AngularJS系列(2)] Scope什么的~</a>
      </li>
    
      <li class="post">
        <a href="/blog/angularjs-introduction/">[AngularJS系列(1)] 感受篇~</a>
      </li>
    
      <li class="post">
        <a href="/blog/javascript-variable-assignment/">[JS] 让人犯晕的Javascript变量赋值</a>
      </li>
    
      <li class="post">
        <a href="/blog/powershell-quotes-rule/">Powershell里的单引号君和双引号君</a>
      </li>
    
  </ul>
</section>






  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2013 - hellobug -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'hellobug';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://hellobug.github.com/blog/angularjs-scope/';
        var disqus_url = 'http://hellobug.github.com/blog/angularjs-scope/';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>











</body>
</html>
